<table class="tr-description-table">
    <tr>
        <td class="tr-description-left-column">
            <h3 class="t3-description-question">What Is the Technology Registry?</h3>
            <p>
                The Technology Registry is a list of technologies that I currently work with. It captures my
                adoption of these technologies. It is very similar to the existing technology radars like
                <a class="tr-description-link" href="https://www.thoughtworks.com/radar" target="_blank">ThoughtWorks Radar</a> or
                <a class="tr-description-link" href="https://zalando.github.io/tech-radar/" target="_blank">Zalando Radar</a>,
                but there are a few differences (more about the differences in the question on the right).
                A similar Technology Registry is published by the
                <a class="tr-description-link" href="https://www.quadient.com/" target="_blank">company I currently work  at</a>.
            </p>

            <h3 class="t3-description-question">What Is the Purpose of the Technology Registry?</h3>
            <p>
                This Technology Registry serves as an overview for me and also simply for anyone who
                is interested. It may help you to orientate yourself in the current world full of technologies. Note that
                I am not an analyst, this registry reflects my current experience. What works for me may
                not work for you (and vice versa). I keep the data in a standalone JSON file, and generate this visualization
                automatically with
                <a class="tr-description-link" href="https://gitlab.com/zdenda.online/technology-registry"
                   target="_blank">my open-source tool</a>.
            </p>

            <h3 class="t3-description-question">How Often Is the Technology Registry Published?</h3>
            <p>
                I try to publish it every quarter of the year (Q1 - Q4).
                However, there is no guarantee as I may forget from time to time :-)
            </p>
        </td>
        <td class="tr-description-right-column">
            <h3 class="t3-description-question">What Are the Differences from the Existing Technology Radars?</h3>
            <p>
                The main difference is in the positioning of the technologies in so-called rings. In this registry, the rings
                represent the lifecycle of the technologies and the direction of their adoption is from the center to
                the sides (from less adopted to more adopted, from smaller to bigger, from faded to bright).
                The lifecycle has the following phases:</p>
            <ul>
                <li class="tr-description-listitem"><b>CONSIDER</b> &mdash; Technologies that caught my attention, and I consider to use them.
                    At this early phase, I am trying to find the right use case to pilot them.
                </li>
                <li class="tr-description-listitem"><b>PILOT</b> &mdash; Technologies that I am piloting (playing with) right now. When the pilot phase is finished,
                    I decide whether the pilot was successful or not. If yes, I will very likely move it to the "Use" phase.
                </li>
                <li class="tr-description-listitem"><b>USE</b> &mdash; Technologies that I use or have used recently and they fit my needs well.
                	I also plan to use them in the future as long as they fit their use case.
                </li>
                <li class="tr-description-listitem"><b>ABANDON</b> &mdash; Technologies that I used (or piloted), but I do not plan to use them for the new stuff as I believe there are better alternatives. Note that these technologies are written on the sides of the circle (in the lists), but are not included in the circle itself.
                </li>
            </ul>

            <p>
                <i>To create your own Technology Registry vizualization, feel free to use this
                    <a class="tr-description-link" href="https://gitlab.com/zdenda.online/technology-registry"
                       target="_blank">open-source code</a>.</i>
            </p>
        </td>
    </tr>
</table>